.img-wrapper {
    flex: 1 1 300px;
}

.project-name {
    text-shadow: -1px 1px 5px #252525;
}

#project-wrapper .project-links {
    visibility: hidden;
}

#project-wrapper:hover .project-links {
    visibility: visible;
}
